:root{
  --tool-cool-color-picker-btn-bg: #fff;
  --tool-cool-color-picker-btn-border-color: #cecece;
  --tool-cool-color-picker-btn-border-color-inner: #626262;
  --tool-cool-color-picker-btn-border-radius: 0.25rem;
  --tool-cool-color-picker-btn-border-radius-inner: 0;
}

.color-picker{
  position: relative;
}

.button{
  width: 3rem;
  height: 1.5rem;
  padding: 0.25rem;
  background: var(--tool-cool-color-picker-btn-bg, #fff);
  border-radius: var(--tool-cool-color-picker-btn-border-radius, 0.25rem);
  border-width: 1px;
  border-style: solid;
  border-color: var(--tool-cool-color-picker-btn-border-color, #cecece);
  cursor: pointer;
  box-sizing: border-box;
}

.button-color{
  display: block;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--tool-cool-color-picker-btn-border-color-inner, #626262);
  background: #000;
  box-sizing: border-box;
  border-radius: var(--tool-cool-color-picker-btn-border-radius-inner, 0);
}