.color-picker{
    position: relative;
}

.button{
    padding: 0.25rem;
    background: #fff;
    border-radius: 0.25rem;
    border: 1px solid #cecece;
    cursor: pointer;
    box-sizing: border-box;
}

.button-color{
    display: block;
    border: 1px solid rgb(98, 98, 98);
    background: #000;
    width: 2.5rem;
    height: 1rem;
    box-sizing: border-box;
}
